<!--  NDUMVA HARIYA KURI IRIYA PAGE IFUNGUKA TUMAZE GUKANDA ACCOUNT, NDUMVA BITAKABAYE NGOMBWA KO ACCOUNT IGARUKA KURI 
LISTE, RWAREKERAHO IZINDI, YO ITARIMO,
MAZE KULINKING ZIRA YAGE ZA ACCOUNT NA REGIRTER, URABONA KO BIKORA, UBWO NI UGUSHAKA VIEW NA CONTENT BIMEZE NEZA, 
BIZAKORERWA MURI TEMPLATES, IN html FILES. 

COURAGE Chou-->

<!--
    1.HANYUMA NAKOZE HOMEPAGE URAZA KUYIBONA ITANDUKANYE NA INDEX YA PAGE UBONA IYO UFUNGUYE , MURI INDEX NDACYASHAKA DESIGN 
    IMEZE NEZA TUZASHYIRAMO
    2. ACCOUNT URAZA KUBONA KO IMEZE NKA DROPMENU NASHYIZEHO REGISTER NA LOGIN NKA LINK ZIYISHAMIKIYEHO
    IT MEANS ACCOUNT SI LINK TUZASHAKA IBINDI TUYIHUZA NABYO NTAKIBAZO
    3. KURI REGISTER NASHYIZEHO HEADER NA FOOTER KUGIRANGO ITAZAJYA IGARAGARA YONYINE
    URAZA KUBONA KURUHANDE ICYO NAHINDUYE, 

    4. NUMVAGA BETTER WAKORA IRIYA FORM NEZA IRIMO FULL INFO UMUNTU AGOMBA KUZUZA TUUUH IKINDI NA LOGIN BIBAYE
    NGOMBWA KDI IKABA IRI FORM IRI VERIFIED TUUUH.

    5.UGIYE UBONA HARUTUNDI TUMANNYERI UMUNTU YAKONGERAMO WAMBWIRA NKATWONGERA MURI DESIGN
-->
