<p class="copyright pull-right">
    &copy; <script>document.write(new Date().getFullYear())</script>Created by SAMBE Team</a>, Final Year Project
</p>

<div class="slides">
    <ul>
        <li><img src="static/img/Favicon.jpg" alt="" style="width:500px;height:350px;"></li>
        <li><img src="static/img/2.webp" alt="" style="width:500px;height:350px;"></li>
        <li><img src="static/img/1.jpg" alt=""></li>
        <li><img src="static/img/4.jpg" alt="" style="width:500px;height:350px;"></li>
        <li><img src="static/img/5.jpg" alt="" style="width:500px;height:350px;"></li>
    </ul>
    <a href="#" class="slide-next"></a> 
    <a href="#" class="slide-prev"></a>
</div>


        


    
</div>
